{include file="public/_head" /}
{include file="public/_left" /}
<link rel="stylesheet" href="/static/admin/style/select2.min.css">
<script src="/static/admin/js/select2.min.js"></script>
<main class="main">
  <div class="breadcrumbs">题库管理</div>
  <div class="page-body">
    <div class="widget">
    <header class="head clearfix">
      <a href="{:url('admin/exam/add')}" class="fl btn">添加</a>
      <form class="serachform" id="serach" action="{:url('admin/exam/search')}" method="post">
          <input type="text" placeholder="请输入标题" id="s" name="s">
          <button type="submit" id="serach-submit">搜索</button>
      </form>

    </header>
     <table class="table clearfix">
      <thead>
      <tr>
        <td>ID</td>
        <td>标题</td>
        <td>章节</td>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
        {volist name="exams" id="vo"}
      <tr>
        <td>{$vo.id}</td>
        <td><a href="{:url('admin/exam/edit', ['id' => $vo.id])}">{$vo.question}</a></td>
      <td><a href="{:url('admin/exam/lst', ['id' => $vo.book_id])}">{$vo.cate.title}</a></td>
        <td>
          <a href="{:url('index/exam/art', ['id' => $vo.id])}" target="_Blank">预览</a>
          <a href="{:url('admin/exam/edit', ['id' => $vo.id])}">编辑</a>
          <button class="del delete-btn" value="{$vo.id}">删除</button></td>
      </tr>
      {/volist}
      </tbody>
     </table>
     {$exams|raw}
    </div>
  </div>
</main>
<script>
  $(function () {
   $('.delete-btn').click(function (ev) {
    ev.stopPropagation();
    ev.preventDefault();
    $(this).parent().parent().remove();
    var id = $(this).val();
    $.ajax({
       url:"{:url('admin/exam/del')}",
       type:'post',
       data:{id:id},
       dataType:'json',
       success:function (data) {
           if (data.code == 1) {
             $('#message').html(data.msg);
           }else {
             $('#message').html(data.msg);
           }
       }
   });
   });
});
</script>

{include file="public/_foot" /}