{include file="public/_head" /}
{include file="public/_left" /}
<main class="main">
  <div class="breadcrumbs">添加书</div>
  <div class="page-body">
    <div class="widget">
      <form class="form-box" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$bookInfo.id}">
        <div class="form-group">
          <label for="title">名称</label>
          <input type="text" name="title" id="title" value="{$bookInfo.title}" />
        </div>
        <div class="form-group">
          <label for="seo_title">seo_title</label>
          <input type="text" name="seo_title" id="seo_title" value="{$bookInfo.seo_title}" />
        </div>
        <div class="form-group clearfix">
          <label for="img">图片</label>
          <div class="form-block">
            <input type="text" name="uploadurl" id="uploadurl" value="{$bookInfo.img}">
            <a href="javascript:;" id="upload-btn">选择文件
              <input class="change" id="file" type="file"/>
            </a>
            <div class="clearfix"></div>
            <div class="fileview">
              <img src="{$bookInfo.img}" alt="" id="imgview">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="desc">描述</label>
          <textarea type="text" name="desc" id="desc"/>{$bookInfo.desc}</textarea>
        </div>
        <div class="form-group">
          <label for="sort">排序</label>
          <input type="text" name="sort" id="sort" value="{$bookInfo.sort}" />
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" id="btn">修改</button>
        </div>
      </form>
    </div>
  </div>
</main>

{include file="public/_foot" /}