{include file="public/_head" /}
{include file="public/_left" /}
<main class="main">
  <div class="breadcrumbs">添加书</div>
  <div class="page-body">
    <div class="widget">
      <form class="form-box" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$Info.id}">
        <div class="form-group">
          <label for="title">名称</label>
          <input type="text" name="title" id="title" value="{$Info.title}" />
        </div>
        <div class="form-group">
          <label for="seo_title">seo_title</label>
          <input type="text" name="seo_title" id="seo_title" value="{$Info.seo_title}" />
        </div>
        <div class="form-group">
          <label for="icon">图标</label>
          <input type="text" name="icon" id="icon" value="{$Info.icon}" />
        </div>
        <div class="form-group">
          <label for="desc">描述</label>
          <textarea type="text" name="desc" id="desc" value="{$Info.desc}" /></textarea>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" id="btn">修改</button>
        </div>
      </form>
    </div>
  </div>
</main>

{include file="public/_foot" /}